<html doctype="html">

<head>
    <title>This is my title</title>
</head>

<body>
    <h1>In Html Code</h1>
    <h1>In Html second line of Code</h1>
    <form action="/1" method="POST"><input type="text" name="message" /></br><input type="submit"></form>
</body>

</html>