<html doctype="html">

<head>
    <title>This is my title</title>
</head>

<body>
    <h1>After submitting</h1>
    <% if(locals.message) { %>
        <%= message %>
            <% } %>
                <form action="/" method="GET">
                    </br><input type="submit"></form>
</body>

</html>